@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&display=swap');
/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
body {
    background-color: #1e1d29;
    background-repeat: no-repeat;
}

/* Invisble Scroll Bar */
body::-webkit-scrollbar {
    width: 0px;
}
body::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #1e1d29;
}
body::-webkit-scrollbar-thumb {
    background: #04ff00;
}
body::-webkit-scrollbar-thumb:hover {
    background: #b700ff;
}

/* Top Header Part With Navbar */
.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0px 25px;
    height: 8vh;
    font-family: 'Asap Condensed', sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 100;
}

/* Navigtion Bar */
.navs ul {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}
.navs li {
    font-size: 20px;
    margin: 0px 15px;
}
.navs a {
    position: relative;
    color: #fff;
    text-decoration: none;
}
.navs a:hover {
    color: #04ff00;
}
.navs a:after {
    content: "";
    position: absolute;
    background-color: #04ff00;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.navs a:hover:after {
    width: 100%;
}

/* Ham Menu */
.toggle_btn {
    cursor: pointer;
    display: none;
}
.dropdown_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    backdrop-filter: blur(2px);
    background: rgba(116, 134, 174, 0.3);
    height: 0px;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 150px;
    padding: 20px 0px;
    border: .5px solid rgb(255, 255, 255, 0.5);
}
.dropdown_menu li {
    list-style-type: none;
}
.dropdown_menu a {
    font-size: 15px;
    color: #fff;
    font-family: 'Asap Condensed', sans-serif;
    text-decoration: none;
}
.dropdown_menu a:hover {
    color: #fcc81f;
}
.d_btn {
    border-radius: 10px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 13px;
    padding: 5px 10px;
    text-decoration: none;
}

/* Section 1 */
.sec1 {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 0px 0px 0px 25px;
}
.sec1_div1 h1{
    font-size: 5em;
    font-family: "ubuntu", sans-serif;
}
.sec1_div1 p{
    font-size: 2em;
    font-family: "quicksand", sans-serif;
    color: rgba(255, 255, 255, 0.8);
}
.sec1_div2 p{
    font-size: 3.7em;
    color: rgba(255, 255, 255, 0.2);
    font-family: "quicksand", sans-serif;
    text-align: right;
}
.sec1_hr {
    background-color: #04ff00;
    height: 2px;
    border: 0px;
    box-shadow: 0px 15px 30px 3px #04ff00;
}

/* .sec2 {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
}
.sec2_top {
    align-self: center;
    margin-bottom: 5vh;
}
.sec2_top h1 {
    color: #ffffff;
    font-size: 2em;
    font-family: "Quicksand", sans-serif;
}
.sec2_top hr {
    height: 2px;
    border: none;
    background-color: #04ff00;
    box-shadow: 0px 15px 30px 3px #04ff00;
}
.sec2_divs {
    display: flex;
    justify-content: space-evenly;

}
.sec2_div {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
}
.sec2_div_top hr {
    height: 2px;
    background-color: #FFFFFF;
    margin-bottom: 2vh;
    border: none;
}
.sec2_div h3 {
    color: #04ff00;
    font-size: 1.7em;
    font-family: "Quicksand", sans-serif;
}
.sec2_div p {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    text-align: justify;
} */

.sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec3 button {
    padding: 7px 20px;
    border: 1px solid #04ff00;
    background-color: #FFFFFF33;
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2em; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0.5px #04ff00;
}
.sec3 button:hover {
    color: #04ff00;
    background-color: #FFFFFF33;
    box-shadow: 0px 0px 10px 0.5px #FFFFFF;
    border: 1px solid #FFFFFF;
}

footer {
    height: 10vh;
}